---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ButtonSocial from "../components/ButtonSocial.astro";
import Pill from "../components/Pill.astro";
import Slider from "../components/Slider.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import GmailIcon from "../components/icons/GmailIcon.astro";
import AngularIcon from "../components/icons/AngularIcon.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import BootstrapIcon from "../components/icons/BootstrapIcon.astro";
import CssIcon from "../components/icons/CssIcon.astro";
import HtmlIcon from "../components/icons/HtmlIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import JavascriptIcon from "../components/icons/JavascriptIcon.astro";
import FlutterIcon from "../components/icons/FlutterIcon.astro";
import NodeJsIcon from "../components/icons/NodeJsIcon.astro";
import ExpressJsIcon from "../components/icons/ExpressJsIcon.astro";
import MongoDBIcon from "../components/icons/MongoDBIcon.astro";
import SQLServerIcon from "../components/icons/SQLServerIcon.astro";
import FirebaseIcon from "../components/icons/FirebaseIcon.astro";
import PhpIcon from "../components/icons/PhpIcon.astro";
import PostgreSQLIcon from "../components/icons/PostgreSQLIcon.astro";
import JavaIcon from "../components/icons/JavaIcon.astro";
import DartIcon from "../components/icons/DartIcon.astro";
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro";
import PythonIcon from "../components/icons/PythonIcon.astro";
import JiraIcon from "../components/icons/JiraIcon.astro";
import FigmaIcon from "../components/icons/FigmaIcon.astro";
import AdobeXDIcon from "../components/icons/AdobeXDIcon.astro";
import GitIcon from "../components/icons/GitIcon.astro";
import PostmanIcon from "../components/icons/PostmanIcon.astro";
import CiscoIcon from "../components/icons/CiscoIcon.astro";
import Experience from "../components/Experience.astro";
import CertificateCard from "../components/CertificateCard.astro";
import { certificates } from "../data/certificates.js";
import Analytics from '@vercel/analytics/astro';
---

<Layout
	title="Carloselcior - Desarrollador Web"
	description="Portfolio de Carloselcior. Desarrollador Web y Multiplataforma, Estudiante de Ingeniería en Sistemas Computacionales"
>
	<main class="place-content-center md:items-center">
		<SectionContainer id="Inicio" class="mx-5 sm:mx-auto">
			<div class="py-20">
				<img
				class="rounded-full size-32 sm:size-40 mb-4"
				src="https://avatars.githubusercontent.com/u/32882289?v=4"
				alt="carloselcior"
			/>
			<h1
				class="text-xl md:text-3xl lg:text-4xl font-bold flex flex-wrap gap-x-4 gap-y-4 pb-10"
			>
				Hola, soy Carloselcior
				<a
					class="flex justify-center items-center"
					href="https://www.linkedin.com/in/carlos-ismael-orozco-rios/"
					target="_blank"
					rel="noopener"
				>
					<Badge>#OpenToWork</Badge>
				</a>
			</h1>
			<h2
				class="text-md lg:text-xl text-neutral-800 dark:text-neutral-400 text-wrap max-w-[700px]"
			>
				Soy un estudiante de Ingeniería en Sistemas Computacionales enfocado en Desarrollo Web, en el Instituto Tecnológico de Tepic.  
				Conocimiento de bases de datos,
				redes, desarrollo de software, aplicaciones
				web y aplicaciones móviles. Además el manejo de sistemas
				operativos y la gestión de proyectos de software.
			</h2>

			<ul class="flex gap-x-10 my-10 text-xs md:text-base lg:text-lg">
				<ButtonSocial
					href="https://www.linkedin.com/in/carlos-ismael-orozco-rios/"
				>
					<LinkedInIcon class="size-7 lg:size-8 " />LinkedIn
				</ButtonSocial>

				<ButtonSocial href="https://github.com/CarloselCIOR/">
					<GitHubIcon class="size-7 lg:size-8 bg-slate-500 rounded-full  dark:bg-transparent" />GitHub
				</ButtonSocial>

				<ButtonSocial href="mailto:carloselcior@gmail.com">
					<GmailIcon class="size-7 lg:size-8" />Correo
				</ButtonSocial>

				<a href="/CV - Carlos Ismael Orozco Rios - Ing Sistemas.pdf" download="CV - Carlos Ismael Orozco Rios - Ing Sistemas.pdf" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"><svg class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
					<path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
					<path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
				</svg> Descargar Curriculum</a>
			</ul>
			</div>
		</SectionContainer>

		<SectionContainer id="Proyectos">
			<Slider/>
		</SectionContainer>

		<SectionContainer id="Experiencia">
			<div class="m-10 font-bold text-lg md:text-xl lg:text-2xl ">
				<h3>Experiencia:</h3>
			</div>
			<Experience />
		</SectionContainer>

		<SectionContainer id="Certificados">
			<div class="m-10 font-bold text-lg md:text-xl lg:text-2xl">
				<h3>Certificados:</h3>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
				{certificates.map(cert => (
				<CertificateCard
					title={cert.title}
					issuer={cert.issuer}
					icon={cert.icon}
					url={cert.url}
				/>
				))}
			</div>
		</SectionContainer>


		<SectionContainer id="Tecnologias">
			<div class="m-10 font-bold text-lg md:text-xl lg:text-2xl">
				<h3>Tecnologías:</h3>
			</div>

			<div class="mt-10 mb-20">
				<hr />
				<h4
					class="m-2 font-bold  text-blue-700 dark:text-blue-400 text-md md:text-lg lg:text-xl"
				>
					Front-End
				</h4>
				<nav class="flex flex-wrap gap-4 gap-y-4 justify-center">
					<Pill href="https://developer.mozilla.org/es/docs/Web/HTML">
						<HtmlIcon class="size-4" /> HTML
					</Pill>
					<Pill href="https://developer.mozilla.org/es/docs/Web/CSS">
						<CssIcon class="size-4" /> CSS
					</Pill>
					<Pill
						href="https://developer.mozilla.org/es/docs/Web/JavaScript"
					>
						<JavascriptIcon class="size-4" /> Javascript
					</Pill>
					<Pill href="https://angular.io/">
						<AngularIcon class="size-4" /> Angular
					</Pill>
					<Pill href="https://astro.build/">
						<AstroIcon class="size-4" /> Astro
					</Pill>
					<Pill href="https://tailwindcss.com/">
						<TailwindIcon class="size-4" /> Tailwind
					</Pill>
					<Pill href="https://getbootstrap.com/">
						<BootstrapIcon class="size-4" /> Bootstrap
					</Pill>
					<Pill href="https://flutter.dev/">
						<FlutterIcon class="size-4" /> Flutter
					</Pill>
				</nav>
			</div>

			<div class="mt-20 mb-20">
				<hr />
				<h4
					class="m-2 font-bold text-md md:text-lg lg:text-xl text-red-700 dark:text-red-400"
				>
					Back-End
				</h4>
				<nav class="flex flex-wrap gap-x-4 gap-y-4 justify-center">
					<Pill href="https://nodejs.org/en">
						<NodeJsIcon class="size-4" /> Node.js
					</Pill>
					<Pill href="https://expressjs.com/">
						<ExpressJsIcon class="size-4" /> Express.js
					</Pill>
					<Pill href="https://www.mongodb.com/es">
						<MongoDBIcon class="size-4" /> MongoDB
					</Pill>
					<Pill href="https://www.microsoft.com/en-us/sql-server/">
						<SQLServerIcon class="size-4" /> SQL Server
					</Pill>
					<Pill href="https://firebase.google.com/">
						<FirebaseIcon class="size-4" /> Firebase
					</Pill>
					<Pill href="https://www.php.net/">
						<PhpIcon class="size-4" /> PHP
					</Pill>
					<Pill href="https://www.postgresql.org/">
						<PostgreSQLIcon class="size-4" /> PostgreSQL
					</Pill>
				</nav>
			</div>

			<div class="mt-20 mb-20">
				<hr />
				<h4
					class="m-2 font-bold text-md md:text-lg lg:text-xl text-green-700 dark:text-green-400"
				>
					Lenguajes de Programación
				</h4>
				<nav class="flex flex-wrap gap-x-4 gap-y-4 justify-center">
					<Pill
						href="https://developer.mozilla.org/es/docs/Web/JavaScript"
					>
						<JavascriptIcon class="size-4" /> JavaScript
					</Pill>
					<Pill href="https://expressjs.com/">
						<JavaIcon class="size-4" /> Java
					</Pill>
					<Pill href="https://dart.dev/">
						<DartIcon class="size-4" /> Dart
					</Pill>
					<Pill href="https://www.typescriptlang.org/">
						<TypeScriptIcon class="size-4" /> TypeScript
					</Pill>
					<Pill href="https://www.python.org/">
						<PythonIcon class="size-4" /> Python
					</Pill>
					<Pill href="https://www.php.net/">
						<PhpIcon class="size-4" /> PHP
					</Pill>
				</nav>
			</div>

			<div class="mt-20 mb-20">
				<hr />
				<h4
					class="m-2 font-bold text-md md:text-lg lg:text-xl  text-violet-700 dark:text-violet-500"
				>
					Otras Tecnologías
				</h4>
				<nav class="flex flex-wrap gap-x-4 gap-y-4 justify-center">
					<Pill href="https://www.figma.com/">
						<FigmaIcon class="size-4" /> Figma
					</Pill>
					<Pill href="https://helpx.adobe.com/xd/get-started.html">
						<AdobeXDIcon class="size-4" /> Adobe XD
					</Pill>
					<Pill href="https://git-scm.com//">
						<GitIcon class="size-4" /> Git
					</Pill>
					<Pill href="https://github.com/">
						<GitHubIcon class="size-4" /> GitHub
					</Pill>
					<Pill href="https://www.php.net/">
						<JiraIcon class="size-4" /> Jira
					</Pill>
					<Pill href="https://www.postman.com/">
						<PostmanIcon class="size-4" /> Postman
					</Pill>
					<Pill href="https://www.cisco.com/">
						<CiscoIcon class="size-4" /> Cisco
					</Pill>
				</nav>
			</div>
		</SectionContainer>
	</main>
</Layout>
