<li class="hover:scale-110 transition">
    <a {... Astro.props}
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col items-center"
    >
        <slot />
    </a>
</li>
