<header class="flex justify-center items-center py-5 w-auto mx-auto">

    <nav>
        <ul class="font-bold flex flex-row gap-x-10 opacity-70 ">
            <li><a href="/" class="hover:text-blue-600 transition">Inicio</a></li>
            <li><a href="#Sobre-Mi" class="hover:text-blue-600 transition">Sobre mí</a></li>
            <li><a href="#Tecnologias" class="hover:text-blue-600 transition">Tecnologías</a></li>
            <li><a href="#Contacto" class="hover:text-blue-600 transition">Contacto</a></li>
        </ul>
    </nav>
</header>