<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">

    <nav>
        <ul class="font-bold flex flex-row gap-x-10 opacity-70 ">
            <li><a href="/" class="hover:text-blue-600 transition">Inicio</a></li>
            <li><a href="/about" class="hover:text-blue-600 transition">Acerca de</a></li>
            <li><a href="/projects" class="hover:text-blue-600 transition">Proyectos</a></li>
            <li><a href="/contact" class="hover:text-blue-600 transition">Contacto</a></li>
        </ul>
    </nav>
</header>