---
const { class: className, id } = Astro.props;
---

<section
    id={id}
    data-section={id}
    class={`section ${className} mx-auto xs:w-[200px] sm:w-[550px] md:w-[600px] lg:w-[740px] pb-24 pt-20`}
>
    <div><slot /></div>
</section>
