---

import CssIcon from "../components/icons/CssIcon.astro";
import HtmlIcon from "../components/icons/HtmlIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import JavascriptIcon from "../components/icons/JavascriptIcon.astro";
import NodeJsIcon from "../components/icons/NodeJsIcon.astro";
import MongoDBIcon from "../components/icons/MongoDBIcon.astro";
import PhpIcon from "../components/icons/PhpIcon.astro";
import JavaIcon from "../components/icons/JavaIcon.astro";
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro";
import PythonIcon from "../components/icons/PythonIcon.astro";

---
<div>
    <div class="m-10 font-bold text-lg md:text-xl lg:text-2xl">
        <h3>Proyectos:</h3>
    </div>
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Item 1 -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="duration-1000 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
                <a href="https://github.com/CarloselCIOR/music-web" target="_blank">
                    <img src="./public/music-web.webp" class="block  absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="">
                    <div class="relative top-500 top-1/2 px-4 py-2 opacity-70 ">
                    <h2 class="text-sm md:text-base  lg:text-xl bg-zinc-700 text-white font-bold text-center ">Biblioteca de Canciones</h3>
                    <div class="bg-zinc-700 flex flex-row items-center justify-center py-2 space-x-1">
                        <HtmlIcon class="size-5 md:size-7 lg:size-8" /> 
                        <TailwindIcon class="size-5 md:size-7 lg:size-8" /> 
                        <TypeScriptIcon class="size-5 md:size-7 lg:size-8" /> 
                        <NodeJsIcon class="size-5 md:size-7 lg:size-8" /> 
                        <MongoDBIcon class="size-5 md:size-7 lg:size-8" /> 
                        <JavascriptIcon class="size-5 md:size-7 lg:size-8" /> 
                    </div> 
                </a>
            </div>      
        </div>
        
        <!-- Item 2 -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="duration-1000 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
                <a href="https://github.com/CarloselCIOR/HotelStat" target="_blank">
                    <img src="./public/hotel-stat.webp" class="block  absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="">
                    <div class="relative top-500 top-1/2 px-4 py-2 opacity-70 ">
                        <h2 class="text-sm md:text-base  lg:text-xl bg-zinc-700 text-white font-bold text-center ">Estadisticas Hoteleras</h3>
                    <div class="bg-zinc-700 flex flex-row items-center justify-center py-2 space-x-1">
                        <HtmlIcon class="size-5 md:size-7 lg:size-8" /> 
                        <CssIcon class="size-5 md:size-7 lg:size-8" /> 
                        <JavascriptIcon class="size-5 md:size-7 lg:size-8" /> 
                        <PhpIcon class="size-5 md:size-7 lg:size-8" /> 
                    </div> 
                </a>
            </div>      
        </div>

        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="duration-1000 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
                <a href="https://contraloria.nayarit.gob.mx/" target="_blank">
                    <img src="./public/shbg-web.webp" class="block  absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="">
                    <div class="relative top-500 top-1/2 px-4 py-2 opacity-70 ">
                        <h2 class="text-sm md:text-base  lg:text-xl bg-zinc-700 text-white font-bold text-center ">Web SHBG</h3>
                    <div class="bg-zinc-700 flex flex-row items-center justify-center py-2 space-x-1">
                        <HtmlIcon class="size-5 md:size-7 lg:size-8" /> 
                        <CssIcon class="size-5 md:size-7 lg:size-8" /> 
                        <JavascriptIcon class="size-5 md:size-7 lg:size-8" /> 
                    </div> 
                </a>
            </div>      
        </div>
        
        <!-- Item 3 -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="duration-1000 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
                <a href="https://github.com/CarloselCIOR/LYA2_YOBOT" target="_blank">
                    <img src="./public/compiler-yobot.webp" class="block  absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="">
                    <div class="relative top-500 top-1/2 px-4 py-2 opacity-70 ">
                        <h2 class="text-sm md:text-base  lg:text-xl bg-zinc-700 text-white font-bold text-center ">Compilador Java Robot</h3>
                    <div class="bg-zinc-700 flex flex-row items-center justify-center py-2 space-x-1">
                        <JavaIcon class="size-5 md:size-7 lg:size-8" /> 
                    </div> 
                    
                </a>
            </div>      
        </div>

        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div class="duration-1000 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
                <a href="https://github.com/CarloselCIOR/LYA_SILLA_RUEDAS" target="_blank">
                    <img src="./public/compiler-w.webp" class="block  absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="">
                    <div class="relative top-500 top-1/2 px-4 py-2 opacity-70 ">
                        <h2 class="text-sm md:text-base  lg:text-xl bg-zinc-700 text-white font-bold text-center ">Compilador Python Movilidad</h3>
                    <div class="bg-zinc-700 flex flex-row items-center justify-center py-2 space-x-1">
                        <PythonIcon class="size-5 md:size-7 lg:size-8" /> 
                    </div> 
                    
                </a>
            </div>      
        </div>
        
        <!-- Slider indicators -->
        <div
            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
        >
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="true"
                aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 4"
                data-carousel-slide-to="3"></button>
            <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 5"
                data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button
            type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
        >
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 1 1 5l4 4"></path>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button
            type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
        >
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
                <svg
                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 6 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 9 4-4-4-4"></path>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</div>
